#
#	gitignore config file
#

#	when this file is copied the name have to be change to .gitignore

#	Generel
*~
#

#	LaTeX
*.aux
*.dvi
*.log
*.synctex-gz
*.synctex.gz
*.project
*.DS_Store
*.toc
*.tdo
*.out
*.bbl
*.blg
*.pdf
#

#	VHDL

#
